/* Estilo básico para el cuerpo de la página */
body {
    background-color: #f5f5f5; /* Color de fondo neutro claro */
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilo del contenedor principal */
.container {
    text-align: center; /* Centrar el contenido dentro del contenedor */
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra más intensa alrededor del contenedor */
    margin: 40px auto; /* Separar el contenedor del borde superior e inferior y centrar horizontalmente */
    max-width: 800px; /* Establecer un ancho máximo para el contenedor */
}

/* Estilo del título principal */
h1 {
    color: #d32f2f; /* Rojo intenso para el encabezado principal */
    margin: 0; /* Eliminar márgenes por defecto del encabezado */
}

/* Estilo de los subtítulos */
h2 {
    color: #1976d2; /* Azul fuerte para los subtítulos */
}

/* Estilo de los párrafos */
p {
    color: #424242; /* Gris oscuro para el texto de los párrafos */
}

/* Estilo de las imágenes */
img {
    max-width: 100%;
    height: auto;
    border: 3px solid #1976d2; /* Borde azul alrededor de las imágenes */
    border-radius: 5px; /* Bordes redondeados en las imágenes */
    margin-top: 20px;
}

/* Estilo de la lista */
ul {
    list-style-type: none; /* Quitar puntos de la lista */
    padding: 0;
    margin: 0; /* Eliminar márgenes para alinear la lista */
}

li {
    margin: 5px 0; /* Espaciado entre los elementos de la lista */
    color: #d32f2f; /* Rojo intenso para los elementos de la lista */
}
